{{#if loggedIn}}
    <a href = "/api/users/logout">Log Out</a>
    {{else}}
    <a href = "/login">Login/Signup</a>
{{/if}}
<h1>Home Page!</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda voluptates nam sapiente error illum. Ducimus eos fuga impedit possimus facilis, beatae corporis saepe perferendis aperiam minima, eum error optio.
Maiores fugiat pariatur molestiae eum delectus unde quam commodi eaque nisi doloremque, officia dolorem excepturi tempore rerum dicta autem nesciunt consectetur impedit molestias placeat perspiciatis quasi, tenetur minus? Ut, repellendus?
Ullam vitae odit aspernatur veritatis cumque expedita enim in dolorem nisi cum deleniti, optio unde eaque numquam et error, cupiditate eligendi, aut aliquam itaque? Esse accusamus nam consequatur saepe debitis?
Vitae corrupti facere repellat vel, delectus incidunt itaque aspernatur nesciunt cum expedita illum nihil quam nobis aperiam omnis sequi animi tempora nam consequuntur, possimus earum porro a praesentium? Non, iusto.
Veniam sed modi laborum fugit, vero neque soluta quibusdam consectetur ipsa expedita tenetur consequuntur asperiores aperiam dolore quia. Quaerat voluptas possimus alias vel suscipit quam accusamus earum, nam quisquam nesciunt!
</p>